# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea
*.*~
node_modules
/doc
/archive
/js/archive
#*.png
#*.jpg
/img/archive
/doc/*.md
*.txt
*.xml

.editorconfig
.gitattributes
.htaccess
/playground/
/scss/temp/
