.section__header{
    height: $menu-pc-height;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}



@media only screen and (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media only screen and (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media only screen and (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media only screen and (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }

