//******** here start menu design *****
//******** mobile-first menu design *****
//******* here everything for mobile size ****
//******* menu **********


//********** menu style **********
//********** main-nav section ****
.header__menu-fix{

}

.header__main-nav{
    height: $menu-mobile-height;
    color: $font-color-white;
}

.header__main-nav__menu {
    display: none;
}

.header__mobile{
    height: $menu-mobile-height;
    width: 99vw;
}

//********* brand logo **********
.header__main-nav__brand {
    float: left;
    //width: 20%;
    line-height: $menu-mobile-height;
    font-size: 1.2em;
    cursor: pointer;
    a{
        color: $font-color-white;
        text-decoration: none;
        display: block;
    }
}


//********   social icons  ********
.header__social{
    display: none;
}

// ****** style for fix menu *****
.b-nav-fix{
    z-index: 9999;
    background: $header-bg-color;
    height: $menu-mobile-height;
    position: fixed;
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.f-nav-fix {
    z-index: 9999;
    position: fixed;
    height: $menu-mobile-height;
    min-width: 1200px;
}


//******** burger menu drop-down*******

.header__responsive-menu{
    display: none;
    position: relative;
}

.expand {
    display: block !important;
}

.header__responsive-menu__menu{
    width:100%;
    padding:5px 0px;
    position:absolute;
    margin-top:$menu-mobile-height;
    //right:0px;
    z-index:1;
    opacity:1;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;

    a {
        transition:all linear 0.15s;
        color:#919191;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}
.header__responsive-menu__menu li a:hover {
    background:#3e3436;
    color: #ffffff;
}


//******** burger menu *******

.toggle-nav {
    float: right;
    height: $menu-mobile-height;
}

#nav-icon1 {
    width: 50px;
    height: 45px;
    position: relative;
    margin-right: 1.2em;
    margin-top: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        //background: #d3531a;
        background: #ffffff;
        border-radius: 7px;
        opacity: 1;
        right: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

}


#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
}

#nav-icon1 span:nth-child(3) {
    top: 30px;
}

#nav-icon1.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.toggle-nav-click {
    //background: $header-bg-color;
}


//responsive design mobile first

@media only screen and (min-width: $mobile-size) {
    //here everything bigger than mobile size

}


@media only screen and (min-width: $tablets-portrait-size) {
    body{
        font-size: 16px;
    }

    .toggle-nav {
        line-height: $menu-tablet-height;
    }

    .header__main-nav__brand {
        width: auto;
        flex-grow: 2;
    }

}


//961px tablet, landscape iPad, lo-res laptops ands desktops
@media only screen and (min-width:$tablets-landscape-size) {
    .header__mobile-nav{
        display: none;
    }
}

//1025px - big landscape tablets, laptops, and desktops
@media only screen and (min-width: $laptop-size) {

    .header__main-nav{
        height: $menu-pc-height;
        color: $font-color-white;
    }

    .header__main-nav__nav{
        flex-grow: 1;
    }

    .header__main-nav__menu {
        display: block;
    }

    .header__main-nav__brand {
        width: auto;
        line-height: $menu-pc-height;
    }

    .toggle-nav {
        display: none;
    }

    //.header__social {
    //    display: block;
    //    overflow: hidden;
    //    line-height: $menu-pc-height;
    //    i{
    //        margin-right: 20px;
    //    }
    //}

    .header__main-nav__menu {

        li{
            text-align: center;
            position: relative;
            display: inline-block;
            list-style-type: none;
            width: 90px;
            margin-left: 1.5em;
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -moz-transition: all 1s ease;

            a{
                line-height: $menu-pc-height;
                font-size: 16px;
                text-decoration: none;
                color: $font-color-white;
            }
            //underline active link effect
            a:before {
                content: "";
                position: absolute;
                width: 90px;
                height: 5px;
                bottom: 0;
                left: 0;
                background-color: $main-menu-link_underline-color;
                visibility: hidden;
                transform: scaleX(0);
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -o-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
            }
            a:hover:before{
                border-bottom: 5px solid $main-menu-link_underline-color;
                visibility: visible;
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
            }
        }

        li:hover{
            opacity: 0.7;
            background: $main-menu-link_hover-color;
            letter-spacing: 0.03rem;
        }
    }

    //  scroll down menu

    .b-nav-fix{
        height: $menu-pc-height;
    }

}

//1025px - big landscape tablets, laptops, and desktops
@media only screen and (min-width:$laptop-size) {

    .header__main-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .header__main-nav__brand{

    }

}

//1281px - big landscape tablets, laptops, and desktops
@media only screen and (min-width: $laptop-hi-res){
    .header__social {
        display: block;
        overflow: hidden;
        line-height: $menu-pc-height;
        i{
            margin-right: 20px;
            cursor: pointer;
        }
    }

}
