#experience{
    color: $color-white;
}

.section__experience{
    background-color: #AB987A;
}


.section__experience__image{
    height: auto;
    justify-content: inherit;
    align-items: inherit;


}

.section__experience__image img{
    display: block;
    margin: auto;
}


@media only screen and (min-width: $mobile-size) {
    .test_foto_01{
        background-image: url("../img/sit_on_chair_300.jpg");
        height: 300px;
    }
}


