.section__experiences{
    height: $section-header-height; //see variables...
    width:auto;
    margin: 0;
    background-color: #AB987A;
    background-image: url('#');
    background-size: cover;
    background-position: center;
}
