.header__jumbotron{
    height: $section-header-height; //see variables...
    width:auto;
    margin: 0;
    background-image: url('../img/p01.jpg');
    background-size: cover;
    background-position: center;
}


//jumbotron

.header__jumbotron{
    //margin-top: -800px;
    //padding-top: 150px;
    //height: 760px;
    width: 100%;
    h1{
        margin: 0;
        padding-top: 225px;
        font-weight: bold;
        font-size: 2.125rem;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    p{
        font-size: 1rem;
        padding-left: 0.2em;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
}




@media only screen and (min-width: $mobile-size) {
    .header__jumbotron {
        h1 {
            font-size: 3rem;
        }
    }
}

@media only screen and (min-width: $tablets-portrait-size) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media only screen and (min-width: $tablets-landscape-size) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width: $laptop-size) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width: $laptop-hi-res) { /* hi-res laptops and desktops */ }
